# Ignore everything in the root except the "wp-content" and these files directory.
/*
!.gitignore
!.gitattributes
!LICENSE
!license.txt
!readme.md
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify
wp-content/plugins/*
!wp-content/plugins/advanced-custom-fields-pro/

# Ignore everything in the "themes" directory, except the themes you
# specify
wp-content/themes/*
!wp-content/themes/oceans-apart/

# ignore node dependency directories
node_modules/

# ignore composer dependency directories
vendor/

# ignore PHP Storm Files
.idea/


# ignore log files and databases
*.log
*.sql
*.sqlite
