@import 'node_modules/foundation-sites/scss/settings/settings';


$grid-padding-gutters:12px;
$grid-margin-gutters:12px;

.oa-task {

  margin-top: 30px;
  margin-bottom: 30px;

  &__background{
    background-color: #ffe5e2;
  }

  &__image{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    overflow: hidden;
    img {
      height:100%;
    }
  }

  @media screen and (max-width: 980px) and (min-width: 1600px) {
      h3 {  font-size: 50px;  }
      p  {  font-size: 22px;  }
  }

  @media screen and (max-width: 980px) and (min-width: 1600px) {
      h3 {  font-size: 22px;  }
      p  {  font-size: 16px;  }
  }


}


.page-template-page-oa-task {
  margin:12px;

  header {
    visibility: hidden;
  }
  footer {
    visibility: hidden;
  }
}

